<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_004{font-family:"Book Antiqua Bold",serif;font-size:18.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:"Book Antiqua Bold",serif;font-size:18.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Times,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Times,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_014{font-family:Times,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_014{font-family:Times,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_013{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_016{font-family:Times,serif;font-size:6.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_016{font-family:Times,serif;font-size:6.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_017{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_017{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_018{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_018{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_015{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_015{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_020{font-family:Times,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_020{font-family:Times,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="d89f0f0c-aebf-11e8-b59b-0cc47a792c0a_id_d89f0f0c-aebf-11e8-b59b-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="d89f0f0c-aebf-11e8-b59b-0cc47a792c0a_id_d89f0f0c-aebf-11e8-b59b-0cc47a792c0a_files/background1.jpg" width=595 height=841></div>
<div style="position:absolute;left:124.94px;top:83.70px" class="cls_004"><span class="cls_004">UNIVERSITA' DEGLI STUDI DELL'AQUILA</span></div>
<div style="position:absolute;left:96.38px;top:105.66px" class="cls_005"><span class="cls_005">Dipartimento di INGEGNERIA E SCIENZE DELL’INFORMAZIONE E MATEMATICA</span></div>
<div style="position:absolute;left:193.82px;top:127.14px" class="cls_007"><span class="cls_007">SEGRETERIA AMMINISTRATIVA PER LA DIDATTICA</span></div>
<div style="position:absolute;left:301.25px;top:137.82px" class="cls_008"><span class="cls_008">DATA DI RICEVIMENTO: _______________________________</span></div>
<div style="position:absolute;left:56.64px;top:142.38px" class="cls_008"><span class="cls_008">PARTE RISERVATA</span></div>
<div style="position:absolute;left:56.64px;top:151.62px" class="cls_008"><span class="cls_008">ALL’UNIVERSITA’</span></div>
<div style="position:absolute;left:301.25px;top:156.18px" class="cls_008"><span class="cls_008">Prot. N. ______________</span></div>
<div style="position:absolute;left:259.61px;top:180.54px" class="cls_009"><span class="cls_009">ALLEGATO 1</span></div>
<div style="position:absolute;left:56.64px;top:194.34px" class="cls_009"><span class="cls_009">alla Convenzione per lo svolgimento di attività di tirocinio e di orientamento (ai</span></div>
<div style="position:absolute;left:56.64px;top:208.14px" class="cls_009"><span class="cls_009">sensi dell'art. 18 L.196/97 e dell'Art. 1 Decreto Ministero del Lavoro e Previdenza</span></div>
<div style="position:absolute;left:56.64px;top:221.94px" class="cls_009"><span class="cls_009">Sociale N. 142/98 e della Legge 148 del 14/09/2011) per studenti, laureati e diplomati</span></div>
<div style="position:absolute;left:56.64px;top:235.77px" class="cls_009"><span class="cls_009">del   Dipartimento   di   Ingegneria,   Scienze   dell’Informazione   e   Matematica</span></div>
<div style="position:absolute;left:56.64px;top:249.57px" class="cls_009"><span class="cls_009">dell’Università degli Studi dell'Aquila.</span></div>
<div style="position:absolute;left:162.62px;top:277.17px" class="cls_009"><span class="cls_009">PROGETTO FORMATIVO E DI ORIENTAMENTO</span></div>
<div style="position:absolute;left:56.64px;top:304.77px" class="cls_009"><span class="cls_009">Nominativo del tirocinante </span><span class="cls_010">_________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:332.37px" class="cls_009"><span class="cls_009">Nato</span><span class="cls_010"> </span><span class="cls_009">a</span><span class="cls_010">  __________________________________________Prov._____ il ____/___/ ____</span></div>
<div style="position:absolute;left:56.64px;top:359.97px" class="cls_009"><span class="cls_009">Residente in</span><span class="cls_010"> ____________________________________________Prov. (_______)</span></div>
<div style="position:absolute;left:56.64px;top:387.57px" class="cls_009"><span class="cls_009">Codice fiscale</span><span class="cls_010">____________________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:415.19px" class="cls_009"><span class="cls_009">Telefono </span><span class="cls_010">________________________________________________________________</span></div>
<div style="position:absolute;left:148.58px;top:443.75px" class="cls_011"><span class="cls_011">Attuale condizione (barrare la casella - possibilità di doppia scelta):</span></div>
<div style="position:absolute;left:56.64px;top:457.91px" class="cls_012"><span class="cls_012"></span><span class="cls_010"> Studente Corso di Laurea in:  ______________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:485.51px" class="cls_012"><span class="cls_012"></span><span class="cls_010"> Diplomato. Diploma universitario in: ________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:499.31px" class="cls_010"><span class="cls_010">(entro 12 mesi dal diploma)</span></div>
<div style="position:absolute;left:56.64px;top:526.91px" class="cls_012"><span class="cls_012"></span><span class="cls_010"> Laureato. Laurea in: ____________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:540.71px" class="cls_010"><span class="cls_010">(entro 12 mesi dalla laurea)</span></div>
<div style="position:absolute;left:56.64px;top:568.34px" class="cls_012"><span class="cls_012"></span><span class="cls_010"> Dottorato di ricerca in:  ___________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:609.74px" class="cls_012"><span class="cls_012"></span><span class="cls_010"> Scuola o corso di perfezionamento o specializzazione in: ________________________</span></div>
<div style="position:absolute;left:92.06px;top:623.54px" class="cls_010"><span class="cls_010">__________________________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:651.14px" class="cls_010"><span class="cls_010">Barrare se trattasi di soggetto portatore di handicap:</span></div>
<div style="position:absolute;left:178.82px;top:673.82px" class="cls_010"><span class="cls_010">Si</span></div>
<div style="position:absolute;left:274.85px;top:672.50px" class="cls_012"><span class="cls_012"></span></div>
<div style="position:absolute;left:176.42px;top:691.58px" class="cls_010"><span class="cls_010">No</span></div>
<div style="position:absolute;left:274.85px;top:691.22px" class="cls_012"><span class="cls_012"></span></div>
<div style="position:absolute;left:56.64px;top:725.32px" class="cls_009"><span class="cls_009">Ente/Azienda ospitante</span><span class="cls_010"> ___________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:752.92px" class="cls_009"><span class="cls_009">Luogo di effettuazione del tirocinio</span><span class="cls_010"> _________________________________________</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:851px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="d89f0f0c-aebf-11e8-b59b-0cc47a792c0a_id_d89f0f0c-aebf-11e8-b59b-0cc47a792c0a_files/background2.jpg" width=595 height=841></div>
<div style="position:absolute;left:124.94px;top:83.70px" class="cls_004"><span class="cls_004">UNIVERSITA' DEGLI STUDI DELL'AQUILA</span></div>
<div style="position:absolute;left:96.38px;top:105.66px" class="cls_005"><span class="cls_005">Dipartimento di INGEGNERIA E SCIENZE DELL’INFORMAZIONE E MATEMATICA</span></div>
<div style="position:absolute;left:193.82px;top:127.14px" class="cls_007"><span class="cls_007">SEGRETERIA AMMINISTRATIVA PER LA DIDATTICA</span></div>
<div style="position:absolute;left:56.64px;top:136.14px" class="cls_009"><span class="cls_009">Settore di inserimento</span><span class="cls_010"> ____________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:163.74px" class="cls_009"><span class="cls_009">Tempi di accesso ai locali aziendali</span><span class="cls_010"> _________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:191.34px" class="cls_009"><span class="cls_009">Periodo di tirocinio</span><span class="cls_010"> n. _______ mesi dal___________________al __________________</span></div>
<div style="position:absolute;left:56.64px;top:205.14px" class="cls_010"><span class="cls_010">(con possibilità di proroga entro i limiti massimi previsti dalla normativa vigente)</span></div>
<div style="position:absolute;left:56.64px;top:232.77px" class="cls_009"><span class="cls_009">numero ore di tirocinio __________ per il conseguimento di n. ___________ CFU</span></div>
<div style="position:absolute;left:56.64px;top:271.89px" class="cls_009"><span class="cls_009">Tutore universitario</span><span class="cls_010">_______________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:299.49px" class="cls_010"><span class="cls_010">Telefono___________________________________</span></div>
<div style="position:absolute;left:56.64px;top:327.09px" class="cls_009"><span class="cls_009">Tutore aziendale</span><span class="cls_010">: _________________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:354.69px" class="cls_010"><span class="cls_010">Telefono___________________________________</span></div>
<div style="position:absolute;left:56.64px;top:382.29px" class="cls_009"><span class="cls_009">Polizze assicurative</span><span class="cls_010">:</span></div>
<div style="position:absolute;left:56.64px;top:409.91px" class="cls_009"><span class="cls_009">Copertura assicurativa per rischio responsabilità civile terzi:</span></div>
<div style="position:absolute;left:56.64px;top:423.71px" class="cls_010"><span class="cls_010">Compagnia assicurativa:</span></div>
<div style="position:absolute;left:56.64px;top:437.27px" class="cls_014"><span class="cls_014">UNIPOLSAI n.65 / 102965221</span></div>
<div style="position:absolute;left:56.64px;top:449.87px" class="cls_014"><span class="cls_014">Scadenza polizza: 30 aprile 2018</span></div>
<div style="position:absolute;left:56.64px;top:462.71px" class="cls_009"><span class="cls_009">Copertura assicurativa per rischio infortuni:</span></div>
<div style="position:absolute;left:56.64px;top:476.51px" class="cls_010"><span class="cls_010">Compagnia assicurativa:</span></div>
<div style="position:absolute;left:56.64px;top:490.07px" class="cls_014"><span class="cls_014">Copertura da polizza  HARMONIE MUTUELLE n.100015</span></div>
<div style="position:absolute;left:56.64px;top:502.79px" class="cls_014"><span class="cls_014">Scadenza polizza: 30 aprile 2018</span></div>
<div style="position:absolute;left:56.64px;top:528.35px" class="cls_009"><span class="cls_009">Posizione INAIL:</span></div>
<div style="position:absolute;left:56.64px;top:542.15px" class="cls_010"><span class="cls_010">Copertura assicurativa “in conto Stato” ex art. 2 D.P.R. N. 156 del 9.04.1999</span></div>
<div style="position:absolute;left:56.64px;top:569.78px" class="cls_013"><span class="cls_013">Obiettivi del tirocinio:</span></div>
<div style="position:absolute;left:56.64px;top:581.18px" class="cls_010"><span class="cls_010">________________________________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:594.98px" class="cls_010"><span class="cls_010">________________________________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:608.78px" class="cls_010"><span class="cls_010">________________________________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:622.58px" class="cls_010"><span class="cls_010">________________________________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:648.02px" class="cls_013"><span class="cls_013">Modalità:</span></div>
<div style="position:absolute;left:56.64px;top:659.42px" class="cls_010"><span class="cls_010">________________________________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:673.22px" class="cls_010"><span class="cls_010">________________________________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:687.02px" class="cls_010"><span class="cls_010">________________________________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:700.82px" class="cls_010"><span class="cls_010">________________________________________________________________________</span></div>
<div style="position:absolute;left:56.64px;top:740.08px" class="cls_013"><span class="cls_013">Facilitazioni previste: sussidio di formazione e servizi aziendali (mensa)</span></div>
<div style="position:absolute;left:56.64px;top:751.48px" class="cls_010"><span class="cls_010">________________________________________________________________________</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:1702px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="d89f0f0c-aebf-11e8-b59b-0cc47a792c0a_id_d89f0f0c-aebf-11e8-b59b-0cc47a792c0a_files/background3.jpg" width=595 height=841></div>
<div style="position:absolute;left:124.94px;top:83.70px" class="cls_004"><span class="cls_004">UNIVERSITA' DEGLI STUDI DELL'AQUILA</span></div>
<div style="position:absolute;left:96.38px;top:105.66px" class="cls_005"><span class="cls_005">Dipartimento di INGEGNERIA E SCIENZE DELL’INFORMAZIONE E MATEMATICA</span></div>
<div style="position:absolute;left:193.82px;top:127.14px" class="cls_007"><span class="cls_007">SEGRETERIA AMMINISTRATIVA PER LA DIDATTICA</span></div>
<div style="position:absolute;left:56.64px;top:136.14px" class="cls_009"><span class="cls_009">Obblighi del tirocinante:</span></div>
<div style="position:absolute;left:56.64px;top:164.58px" class="cls_012"><span class="cls_012"></span><span class="cls_010">  Seguire le indicazioni dei tutori e fare riferimento ad essi su qualsiasi esigenza di tipo</span></div>
<div style="position:absolute;left:70.82px;top:178.38px" class="cls_010"><span class="cls_010">organizzativo ed altre evenienze;</span></div>
<div style="position:absolute;left:56.64px;top:192.90px" class="cls_012"><span class="cls_012"></span><span class="cls_010">  Rispettare  gli  obblighi  di  riservatezza  per  quanto  attiene  ai  dati,  informazioni  e</span></div>
<div style="position:absolute;left:70.82px;top:206.70px" class="cls_010"><span class="cls_010">conoscenze in merito all'attività di ricerca dell'Ente/Azienda, acquisiti durante e dopo lo</span></div>
<div style="position:absolute;left:70.82px;top:220.50px" class="cls_010"><span class="cls_010">svolgimento del tirocinio;</span></div>
<div style="position:absolute;left:56.64px;top:235.17px" class="cls_012"><span class="cls_012"></span><span class="cls_010">  Rispettare i regolamenti aziendali e le norme in materia di igiene e sicurezza;</span></div>
<div style="position:absolute;left:56.64px;top:249.81px" class="cls_012"><span class="cls_012"></span><span class="cls_010">  Inviare   al   Dipartimento   di   Ingegneria,   Scienze   dell’Informazione   e   Matematica</span></div>
<div style="position:absolute;left:70.82px;top:263.61px" class="cls_010"><span class="cls_010">dell'Università  degli  Studi  dell'Aquila,  mensilmente,  le  presenze  effettive  presso</span></div>
<div style="position:absolute;left:70.82px;top:277.41px" class="cls_010"><span class="cls_010">l'Azienda rilevate da una scheda che viene consegnata dall’Azienda stessa  all'atto</span></div>
<div style="position:absolute;left:70.82px;top:291.21px" class="cls_010"><span class="cls_010">della compilazione del presente Progetto.</span></div>
<div style="position:absolute;left:56.64px;top:318.81px" class="cls_010"><span class="cls_010">Ai sensi degli artt. 10 e seguenti della legge 675/ 96, sulla tutela delle persone e di altri</span></div>
<div style="position:absolute;left:56.64px;top:332.61px" class="cls_010"><span class="cls_010">soggetti rispetto al trattamento dei dati personali, con la sottoscrizione il tirocinante</span></div>
<div style="position:absolute;left:56.64px;top:346.41px" class="cls_010"><span class="cls_010">esprime il suo consenso a che i suoi dati personali vengano comunicati all'Università</span></div>
<div style="position:absolute;left:56.64px;top:360.21px" class="cls_010"><span class="cls_010">limitatamente ai trattamenti connessi alle finalità del presente rapporto di tirocinio. La</span></div>
<div style="position:absolute;left:56.64px;top:374.01px" class="cls_010"><span class="cls_010">sottoscrizione  del  presente  modello  comporta  anche  il  consenso  del  tirocinante  al</span></div>
<div style="position:absolute;left:56.64px;top:387.81px" class="cls_010"><span class="cls_010">trattamento dei suoi dati personali nel senso sopraindicato.</span></div>
<div style="position:absolute;left:56.64px;top:401.63px" class="cls_010"><span class="cls_010">L'Aquila,</span></div>
<div style="position:absolute;left:56.64px;top:429.23px" class="cls_010"><span class="cls_010">Firma per visione e accettazione del tirocinante</span></div>
<div style="position:absolute;left:56.64px;top:456.83px" class="cls_010"><span class="cls_010">____________________________</span></div>
<div style="position:absolute;left:56.64px;top:498.23px" class="cls_010"><span class="cls_010">Dipartimento di Ingegneria, Scienze dell’Informazione e Matematica dell’Università degli</span></div>
<div style="position:absolute;left:56.64px;top:512.03px" class="cls_010"><span class="cls_010">Studi di L'Aquila</span></div>
<div style="position:absolute;left:56.64px;top:525.83px" class="cls_010"><span class="cls_010">Il Tutor</span></div>
<div style="position:absolute;left:56.64px;top:553.43px" class="cls_010"><span class="cls_010">______________________________________</span></div>
<div style="position:absolute;left:56.64px;top:594.86px" class="cls_010"><span class="cls_010">L'Ente/Azienda</span><span class="cls_008"><sup>1</sup></span></div>
<div style="position:absolute;left:56.64px;top:608.66px" class="cls_010"><span class="cls_010">_______________________________________</span></div>
<div style="position:absolute;left:56.64px;top:636.26px" class="cls_010"><span class="cls_010">Il Tutor aziendale</span></div>
<div style="position:absolute;left:56.64px;top:650.06px" class="cls_010"><span class="cls_010">______________________________________</span></div>
<div style="position:absolute;left:56.64px;top:691.34px" class="cls_010"><span class="cls_010">Il Direttore del Dipartimento di Ingegneria e Scienze dell’Informazione e Matematica.</span></div>
<div style="position:absolute;left:56.64px;top:705.14px" class="cls_010"><span class="cls_010">Prof. Guido Proietti</span></div>
<div style="position:absolute;left:56.64px;top:732.76px" class="cls_010"><span class="cls_010">______________________________</span></div>
<div style="position:absolute;left:56.64px;top:772.24px" class="cls_016"><span class="cls_016"><sup>1</sup></span><span class="cls_017"> Timbro e firma dell’Azienda</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:2553px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="d89f0f0c-aebf-11e8-b59b-0cc47a792c0a_id_d89f0f0c-aebf-11e8-b59b-0cc47a792c0a_files/background4.jpg" width=595 height=841></div>
<div style="position:absolute;left:124.94px;top:83.70px" class="cls_004"><span class="cls_004">UNIVERSITA' DEGLI STUDI DELL'AQUILA</span></div>
<div style="position:absolute;left:96.38px;top:105.66px" class="cls_005"><span class="cls_005">Dipartimento di INGEGNERIA E SCIENZE DELL’INFORMAZIONE E MATEMATICA</span></div>
<div style="position:absolute;left:193.82px;top:127.14px" class="cls_007"><span class="cls_007">SEGRETERIA AMMINISTRATIVA PER LA DIDATTICA</span></div>
<div style="position:absolute;left:56.64px;top:136.14px" class="cls_018"><span class="cls_018">(da compilare a cura dell’Azienda)</span></div>
<div style="position:absolute;left:56.64px;top:177.30px" class="cls_018"><span class="cls_018">Ente/Azienda  </span><span class="cls_015">……………………………………………………………………</span></div>
<div style="position:absolute;left:56.64px;top:204.90px" class="cls_015"><span class="cls_015">Codice Fiscale Ente/Azienda …………………………………………………….</span></div>
<div style="position:absolute;left:56.64px;top:232.77px" class="cls_018"><span class="cls_018">Tirocinante:</span></div>
<div style="position:absolute;left:56.64px;top:246.33px" class="cls_018"><span class="cls_018">Cognome</span><span class="cls_015">………………………………….</span><span class="cls_018">Nome</span><span class="cls_015">…………………………………</span></div>
<div style="position:absolute;left:56.64px;top:259.17px" class="cls_014"><span class="cls_014">(Codice identificativo tirocinio: Dipartimento, Corso di Laurea o diploma, anno, n progressivo, altro)</span></div>
<div style="position:absolute;left:56.64px;top:272.73px" class="cls_015"><span class="cls_015">……………………………………………………………………………………….</span></div>
<div style="position:absolute;left:56.64px;top:300.57px" class="cls_018"><span class="cls_018">Periodo del tirocinio:</span></div>
<div style="position:absolute;left:56.64px;top:314.13px" class="cls_018"><span class="cls_018">dal</span><span class="cls_015">……………………………………….</span><span class="cls_018">al  </span><span class="cls_015">……………………………………….</span></div>
<div style="position:absolute;left:56.64px;top:341.73px" class="cls_015"><span class="cls_015">Per un totale di ………….ore</span></div>
<div style="position:absolute;left:56.64px;top:369.33px" class="cls_018"><span class="cls_018">Sede di svolgimento del tirocinio</span><span class="cls_015">……………….………………………………….</span></div>
<div style="position:absolute;left:56.64px;top:397.19px" class="cls_018"><span class="cls_018">Descrizione Attività svolta</span></div>
<div style="position:absolute;left:56.64px;top:424.55px" class="cls_015"><span class="cls_015">………………………………………………………………………………………..</span></div>
<div style="position:absolute;left:56.64px;top:452.15px" class="cls_015"><span class="cls_015">..………………………………………………………………………………………</span></div>
<div style="position:absolute;left:56.64px;top:479.75px" class="cls_015"><span class="cls_015">…..……………………………………………………………………………………</span></div>
<div style="position:absolute;left:56.64px;top:507.35px" class="cls_015"><span class="cls_015">...…………………………………………………………………………………...…</span></div>
<div style="position:absolute;left:56.64px;top:534.95px" class="cls_018"><span class="cls_018">Si attesta che il/la Sig…</span><span class="cls_015">………………...…………………………………………..</span></div>
<div style="position:absolute;left:56.64px;top:562.58px" class="cls_015"><span class="cls_015">Ha effettuato i compiti affidatigli conseguendo il seguente risultato :</span></div>
<div style="position:absolute;left:56.64px;top:590.18px" class="cls_015"><span class="cls_015">…….………………………………………………………………………………….</span></div>
<div style="position:absolute;left:56.64px;top:617.78px" class="cls_015"><span class="cls_015">…..……………………………………………………………………………………</span></div>
<div style="position:absolute;left:56.64px;top:645.38px" class="cls_015"><span class="cls_015">………………………………………………………………………………………..</span></div>
<div style="position:absolute;left:56.64px;top:684.98px" class="cls_020"><span class="cls_020">Data …………………………………</span></div>
<div style="position:absolute;left:56.64px;top:731.92px" class="cls_018"><span class="cls_018">Firma del tutor aziendale</span></div>
<div style="position:absolute;left:56.64px;top:745.48px" class="cls_015"><span class="cls_015">…………………………………………………………………</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:3404px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="d89f0f0c-aebf-11e8-b59b-0cc47a792c0a_id_d89f0f0c-aebf-11e8-b59b-0cc47a792c0a_files/background5.jpg" width=595 height=841></div>
<div style="position:absolute;left:124.94px;top:83.70px" class="cls_004"><span class="cls_004">UNIVERSITA' DEGLI STUDI DELL'AQUILA</span></div>
<div style="position:absolute;left:96.38px;top:105.66px" class="cls_005"><span class="cls_005">Dipartimento di INGEGNERIA E SCIENZE DELL’INFORMAZIONE E MATEMATICA</span></div>
<div style="position:absolute;left:193.82px;top:127.14px" class="cls_007"><span class="cls_007">SEGRETERIA AMMINISTRATIVA PER LA DIDATTICA</span></div>
<div style="position:absolute;left:56.64px;top:163.74px" class="cls_018"><span class="cls_018">da compilare a cura dell’Università)</span></div>
<div style="position:absolute;left:56.64px;top:191.10px" class="cls_015"><span class="cls_015">Previa effettuazione di opportune verifiche e colloquio svoltosi in data …………………...</span></div>
<div style="position:absolute;left:56.64px;top:218.70px" class="cls_015"><span class="cls_015">Si attesta che il</span></div>
<div style="position:absolute;left:56.64px;top:246.57px" class="cls_018"><span class="cls_018">Tirocinante:</span></div>
<div style="position:absolute;left:56.64px;top:273.93px" class="cls_018"><span class="cls_018">Cognome </span><span class="cls_015">………………………………………….</span><span class="cls_018">Nome </span><span class="cls_015">…………………………</span></div>
<div style="position:absolute;left:56.64px;top:301.53px" class="cls_015"><span class="cls_015">Ha svolto il tirocinio con esito</span></div>
<div style="position:absolute;left:56.64px;top:329.13px" class="cls_015"><span class="cls_015">……………………………………………………………...</span></div>
<div style="position:absolute;left:56.64px;top:356.97px" class="cls_018"><span class="cls_018">Firma del Tutor universitario</span></div>
<div style="position:absolute;left:56.64px;top:384.33px" class="cls_015"><span class="cls_015">……………………………………………………………</span></div>
<div style="position:absolute;left:56.64px;top:412.19px" class="cls_018"><span class="cls_018">Crediti formativi riconosciuti</span></div>
<div style="position:absolute;left:56.64px;top:439.55px" class="cls_015"><span class="cls_015">……………………………………………………………</span></div>
<div style="position:absolute;left:56.64px;top:479.15px" class="cls_020"><span class="cls_020">Firma del responsabile della struttura didattica competente</span></div>
<div style="position:absolute;left:56.64px;top:498.23px" class="cls_015"><span class="cls_015">(Presidente del Consiglio di Corso di Studio)</span></div>
<div style="position:absolute;left:56.64px;top:525.83px" class="cls_015"><span class="cls_015">………………………………………………………………………………………</span></div>
<div style="position:absolute;left:56.64px;top:594.86px" class="cls_015"><span class="cls_015">L’Aquila lì _________________________</span></div>
</div>

</body>
</html>
